.pagination {
    list-style: none;

    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination__item {
    margin-left: 5px;

    &:first-child {
        margin-left: 0;
    }
}

.pagination__link {
    text-decoration: none;
    color: #333333;

    &--active {
      font-weight: 700;
    }
}
