.table {
    border-collapse: collapse;
    margin-top: 30px;
    width: 100%;
    max-width: 1340px;
}

.table__heading, .table__data {
    border: 2px solid #333333;

    padding: 10px 10px 10px 10px;
}

.table__data {
    text-align: center;
}

.table__row:not(:first-child) {
    cursor: pointer;
}

.table__heading {
    position: relative;

    &--top-to-bot {
        &::after {
            content: "";
            box-sizing: border-box;
            
            display: block;
            width: 5px;
            height: 10px;

            position: absolute;
            top: 50%;
            right: 10px;

            transform: translateY(-5px);

            border-top: 10px solid black;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
    }

    &--bot-to-top {
        &::after {
            content: "";
            box-sizing: border-box;
            
            display: block;
            width: 5px;
            height: 10px;

            position: absolute;
            top: 50%;
            right: 10px;

            transform: translateY(-5px);

            border-bottom: 10px solid black;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
    }
    
}