.user-info {
    margin-bottom: 30px;
    min-width: 50%;
    border: 2px solid #333333;
    padding: 10px 20px 10px 20px;

}

.user-nfo__list {
    list-style: none;
}

.user-info__item {
    display: flex;
    margin-top: 10px;

    &--description {
        flex-direction: column;
    }
}

.user-info__description {
    margin-right: 10px;
}

.user-info__textarea {
  min-height: 100px;
}
