*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 1000px;
}
